@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-areas:
      'header header'
      'content rightbar'
      'footer footer';
    grid-template-columns: 3fr 1fr;
    padding: 2rem 2rem;
  }

  #app > header {
    grid-area: header;
    text-align: center;
    justify-content: space-between;
  }

  #app > content {
    grid-area: content;
  }

  #app > rightbar {
    grid-area: rightbar;
  }

  #app > footer {
    grid-area: footer;
    justify-self: right;
  }
}
